{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block main %}
    <main>
        <h1>About Us</h1>
        <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. A asperiores, aut deleniti dignissimos distinctio ducimus earum, eius in iusto magni minus nemo nobis nostrum, odit quibusdam repellendus saepe sed sequi similique vel. Itaque optio quo suscipit tempore voluptatem! Ab animi cumque dignissimos ducimus esse exercitationem inventore modi molestias, natus nihil, nostrum odio optio pariatur porro quos repellat repudiandae sunt, voluptatum. Assumenda, commodi delectus deleniti dolore doloribus eius eligendi error, fuga minus praesentium, provident qui repellat soluta sunt ut vel voluptatem! Accusantium asperiores atque autem commodi consectetur consequuntur cupiditate deleniti distinctio esse est exercitationem explicabo impedit inventore nesciunt, nihil porro sit.</p>
    </main>
{% endblock %}

