<nav>
    <a id="nav-logo-link" href="/">
        <img id="nav-logo" src="{{ asset('images/bucket.svg') }}" alt="Logo de Bucket-List">
    </a>

    <h1 id="nav-title">
        <a href="/">Bucket-List</a>
    </h1>

    <ul class="button-list">
        <li class="nav-button"><a href="/">Accueil</a></li>
    </ul>
</nav>
