{% extends 'base.html.twig' %}

{% block title %}Wishes detail{% endblock %}

{% block main %}
    <main>
        <div>
            <strong>{{ wish.title }}</strong>
            <p>Description : {{ wish.description }}</p>
            <p>Auteur : {{ wish.author }}</p>
            <p>Date de création : {{ wish.dateCreated | date('d/m/Y') }}</p>
        </div>
    </main>
{% endblock %}
