{% extends 'base.html.twig' %}

{% block title %}All wishes{% endblock %}

{% block main %}
    <main>
        <h1>All wishes !!</h1>
        <ul>
            {% for wish in wishes %}
            <li><a href="{{ path('wish_details', { id: wish.id }) }}">{{ wish.title }} [{{ wish.category}}]</a></li>
        </ul>
        {% endfor %}
    </main>
{% endblock %}

