{% extends 'base.html.twig' %}

{% block title %}
    Update wish
{% endblock %}

{% block main %}
    <main>
        <h1>Update your wish!</h1>

        {{ form_start(wishForm) }}
        {{ form_widget(wishForm) }}

        {% if wish.image %}
            <div>
                <p>Current image:</p>
                <img src="{{ asset('uploads/images/wish/' ~ wish.image) }}" alt="Current Image" style="max-height: 200px;">
            </div>
        {% endif %}

        <button type="submit">Update</button>
        {{ form_end(wishForm) }}
    </main>
{% endblock %}
